body {
  margin: auto;
  display: grid;
  max-width: 1500px;
  grid-template-columns: minmax(200px, 1fr) minmax(200px, 5fr);
  grid-template-rows: auto auto;
  grid-template-areas:  "sidebar header"
              "sidebar main-content";
}

/* Sidebar related */

.sidebar {
  grid-area: sidebar;
  background-color: rgb(61, 128, 228);
  color: aliceblue;
  display: grid;
  grid-template-rows: 100px auto;
  grid-template-areas: "sidebar-head"
                      "sidebar-links";
}

.sidebar h1 {
  grid-area: sidebar-head;
  margin-left: 40px
}

.sidebar ul {
  grid-area: sidebar-links;
}

.sidebar li {
  margin-top: 0.8em ;
}

.sidebar li:nth-child(6) {
  margin-bottom: 2.5em;
}

.sidebar a {
  text-decoration: none;
  font-weight: 800;
  font-size: 1.5rem;
  color: inherit;
}

/* Header related */

.header {
  grid-area: header;
  background-color: rgb(236, 234, 231);
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;
  gap: 1.5em;
  grid-template-areas: "header-top-left header-top-right"
             "header-bottom-left header-bottom-right";
  padding-bottom: 1.2em;
  padding-right: clamp(20px, 5vw, 100px);
  position: relative; /* Required for box-shadow */
  box-shadow: 0px 3.5px 3px -2px rgb(151, 151, 151);
}

.header .search-container {
  grid-area: header-top-left;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  padding-left: 50px;
  padding-right: 20px;
}

.header .search-container input {
  background-color: rgb(215, 213, 218);
  max-width: 40em;
  height: 2em;
  border-radius: 24px;
  border: none;
}

.header .profile-container {
  grid-area: header-top-right;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: end;
  gap: 0px 40px;
  
}

.header .greeting-container {
  grid-area: header-bottom-left;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding-left: clamp(20px, 4vw, 50px);
}

.header .greeting-container div p,
.header .greeting-container div h1  {
  margin: 0;
  padding: 0;
}

.header .greeting-container .pfp {
  width: 60px;
  height: 60px;
}

.header .button-container {
  grid-area: header-bottom-right;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-items:last baseline;
  align-items: center;
}

.header .button-container button{
  width: 7em;
  height: 2.8em;
  background-color: rgb(61, 128, 228);
  color: aliceblue;
  font-weight: 700;
  font-size: 0.9rem;
  border: none;
  border-radius: 20px;
}


.header img {
  border: red;
  width: 2.5em;
  height: 2.5em;
}

/* Main content related */

.main-content {
  display: grid;
  grid-area: main-content;
  background-color: rgb(215, 213, 218);
  grid-template-columns: 4fr 1.4fr;
  grid-template-rows: auto 1fr 1fr;
  grid-template-areas:  "proj-h2 annouce-h2"
                        "projects annnouncements"
                        "projects trending";
  padding: 1.5em;
}

.main-projects  {
  grid-area: projects;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
  gap: 1.5em;
  margin-right: 1.5em;
  padding: 0;
}

.card {
  border-radius: 12px;
  background-color: rgb(236, 234, 231);
}

.main-projects h2 {
  grid-column: 1 / 4;
}

.main-projects .card {
  display: grid;
  padding: 2em 1em 1.3em 2em;
  grid-template-rows: 1fr 3fr 1fr;
}

.main-projects div * {
  margin: 0;
}

.main-projects div h3 {
  margin-bottom: 0.5em;
}

.main-announcements {
  display: grid;
  align-self: baseline;
  gap: 1.5em;
}

.main-announcements .card {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 2em 1em 1em 1em;
  height: 16em;
}

.main-announcements .card div * {
  margin: 0;
}

.main-trending {
  display: grid;
  grid-template-rows: auto auto;
}

.main-trending .card {
  display: grid;
  height: 16em;
  grid-template-rows: repeat(4, 1fr);
  padding: 2em 1em 1em 1em;
}