body {
  margin: auto;
  display: grid;
  max-width: 1700px;
  grid-template-columns: minmax(200px, 1fr) minmax(200px, 5fr);
  grid-template-rows: auto auto;
  grid-template-areas:  "sidebar header"
              "sidebar main-content";
}

/* Sidebar related */

.sidebar {
  grid-area: sidebar;
  background-color: rgb(93, 160, 223);
  color: aliceblue;
  display: grid;
  grid-template-rows: 100px auto;
  grid-template-areas: "sidebar-head"
                      "sidebar-links";
}

.sidebar h1 {
  grid-area: sidebar-head;
  margin-left: 40px
}

.sidebar ul {
  grid-area: sidebar-links;
}

.sidebar li {
  margin-top: 0.8em ;
}

.sidebar li:nth-child(6) {
  margin-bottom: 2.5em;
}

.sidebar a {
  text-decoration: none;
  font-weight: 800;
  font-size: 1.5rem;
  color: inherit;
}

/* Header related */

.header {
  grid-area: header;
  background-color: rgb(228, 226, 223);
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "header-top-left header-top-right"
             "header-bottom-left header-bottom-right";
}

.header .search-container {
  grid-area: header-top-left;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  padding-left: 50px;
  padding-right: 20px;
}

.header .search-container input {
  max-width: 40em;
}

.header .profile-container {
  grid-area: header-top-right;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: end;
  gap: 0px 40px;
  padding-right: clamp(20px, 5vw, 100px);
}

.header .greeting-container {
  grid-area: header-bottom-left;
  display: grid;

}

.header .button-container {
  grid-area: header-bottom-right;
}

.header img {
  border: red;
  width: 2.5em;
  height: 2.5em;
}

/* Main content related */

.main-content {
  grid-area: main-content;
  background-color: rgb(201, 209, 219);
}